.tbe{
height: 632px;
background: #FFFFFF;
border: 1px solid #F0F0F0;
overflow: auto;
border-radius: 8px;
position: relative;
box-sizing: border-box;
padding: 32px 40px;
margin-bottom: 300px;
}
.headr{
    color: #3744C0;
    font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 135%;
border-top: hidden;
border-bottom: hidden;


}
.roow{
    font-style: normal;
font-weight: 600;
font-size: 12px;
align-items: center;
color: #000000;
}
.header{
margin-left: 10px;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 40px;
color: #0A0E30;
white-space: normal;


}
.paginationWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding-top: 40px;

}
.paginationBox{
    height: 32px;
    width: 180px;
    display: flex;
justify-content: space-between;
align-items: center;
background: rgb(55,68,192, 0.06);
color: #898ef5;
border-radius:5px;
cursor: pointer;

}

.nextWrap , .prevWrap{
    background: none !important;
    border: none;
}
.table{
    height: 75%;
    /* margin-top: 32px;
    margin-left: 40px ; */
    /* position: relative; */

    
}
.numbers{
    font-style: normal;
font-weight: 500 ;
font-size: 16px ;
letter-spacing: -0.04em;

}